<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zixuan.dao.UserDao">
<select id="findDataById"  parameterType="String" resultType="com.zixuan.domain.User">
		select * from user where user_id=#{id}
	</select>

<select id="getUserName"  parameterType="String" resultType="com.zixuan.domain.User">
		select * from user where user_id=#{id}
	</select>

<select id="getUserByUserName"  parameterType="String" resultType="com.zixuan.domain.User">
		select * from user where user_name=#{userName}
	</select>

</mapper>